{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sample text</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis rerum reiciendis ducimus tenetur id adipisci numquam quasi excepturi exercitationem. Quis architecto nobis eligendi tempora, reprehenderit dolores reiciendis unde doloribus neque!</p>
    </div>
    <div class="col-4">
        <img src="https://picsum.photos/200" alt="img" class="img-thumbnail">
    </div>
</div>

{{> footer }}